

        .thm1 {
            height: 100px;
            width: 200px;
            display: block;
            margin-left: 40px;
        }

        .p1 {
            color: black;
            font-size: 12px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            width: 150px;
            
        }

        .p2 {
            color: rgb(56, 55, 55);
            margin-bottom: 0px;
            line-height: 20px;
            font-size: 13px;
        }

        .p3 {
            color: rgb(59, 59, 59);
            margin-top: 0px;
            font-size: 13px;
        }

        .profile {
            height: 40px;
            width: 40px;
            border-radius: 80%;
            margin-top: 9px;
            margin-right: 6px;
            margin-left: 40px;
        }

        .video-text {
            width: 200px;
       

        }

        .video-info {
            display: flex;
            margin-top: 0px;
            margin-right: 0px;
            
        }
    