
    p{
        font-size: 22px;
        font-family: Tahoma;
        font-weight: bold;
    }
    p1-text{
        font-size: 21px;
        font-weight: bold;
        font-family: Arial;
        line-height: 20px;
    }
    .span-class{
        color:red;
        font-style: italic;
        font-size: 14px;
       
    }
    .p2-text{
       font-family: Verdana;
       font-weight: bold;
       font-size: 17px;
       margin-bottom: 0;
       line-height: 16px;
    }
    .p3-text{
        font-size: 12px;
        color:grey;
        margin-top: 0;
    }
    .p4-text{
        font-size: 12px;
        width:248px;
        color:rgb(101, 100, 100);
        font-style: normal;
    }
    .btn{
        background-color: rgb(25, 161, 25);
        color:white;
        border:none;
        border-radius:4px;
        font-size: 10px;
        font-weight: bold;
        height: 25px;
        width: 90px;
        transition: transform 5s;
    }
    .btn:hover{
        transform:scaleX(1.4);
    }
    .new-text{
        color:red;
        text-align: center;
        font-size: 10px;
        margin-bottom: 0;
       line-height: 20px;
        
    }
    .pro-text{
        text-align: center;
        font-size: 13px;
        color:black;
        margin-bottom: 0;
    }
    .super-text{
        text-align: center;
        font-size: 20px;
        margin-top: 0%;
        line-height: 24px;
    }
    .text-new{
        text-align: center;
        font-size: 10px;
        color: rgb(57, 56, 56);
        margin-bottom: 0;
        
    }
    .buy-button{
        background-color: blue;
        color: white;
        border: none;
        border-radius: 22px;
        height:22px;
        width:40px;
        font-size: 10px;
        margin-top: 0;
        cursor:pointer;
        transition:transform 1.4s ease;
    }
    .buy-button:hover{
        background-color: rgb(7, 63, 63);
        transform:scale(1.2);
    }
    
    .text1{
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .text2{
       font-size: 15px;
       color: gray;
       line-height: 24px;
    }
    .text3{
         font-size: 12px;
         color: green;
         line-height: 24px;
    }
    .text4{
         color: gray;
         font-size: 12px;
    }
    .text5{
          color: brown;
          font-size: 12px;
    }
    .new1{
        font-size: 13px;
        line-height: 16px;
        color: rgb(32, 31, 31);
    }
    .new2{
        font-size: 11px;
        color: gray;
    }
    .new3{
    font-size: 11px;
    font-family:Arial, Helvetica, sans-serif;
    }
    .new4{
      font-size: 11px;
      font-family:Arial, Helvetica, sans-serif;
      color: rgb(32, 31, 31);
      
    }
    .new5{
      font-size: 11px;
      font-family:Arial, Helvetica, sans-serif;
      color: rgb(59, 200, 228);
    }
   
